.page-number {
    font-size: 10rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    line-height: 1;
    position: absolute;
    right: -25px;
    bottom: 5%;
    font-weight: 900;
    font-family: var(--heading-font);
    color: var(--accent-color--opacity);
}