.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-title {
    font-size: 5rem;
    margin: 0;
    text-align: right;
    width: 35%;
    text-transform: uppercase;
    align-self: center;
}

.about-content {
    width: 55%;
    position: relative;
}

.about-content::before {
    content: '';
    width: 10px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: var(--accent-color);
    left: -10%;
}

.about-content p {
    margin-bottom: 0.66rem;
}

.about-content p:last-child {
    margin: 0;
}

.about-button {
    float: right;
}